.table-field-header {
    outline: none;
    display: inline-block;
    height: 40px;
    margin-right: -2px;
    margin-left: -2px;
    border: solid 1px #ffffff;
    background: #dddddd;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    font-size: 14px;
    cursor: default;
}

.table-field {
    outline: none;
    display: inline-block;
    height: 40px;
    margin-right: -2px;
    margin-left: -2px;
    border: solid 1px #dddddd;
    background: #ffffff;
    color: #272727;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.table-field:hover {
    background: #fbf9e3;
}

.table-holder {
    overflow: auto;
    width: 100%;
}
