/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 83px;
    height: 45px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee3333;
    box-shadow: inset 0 0 20px #982727;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 38px;
    width: 38px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    box-shadow: inset 0 0 20px #8e972c;
    background-color: #d6e13d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border: 1px solid #00703e;
    border-radius: 38px;
}

.slider.round:before {
    box-shadow: inset 0 0 5px #515151;
    border-radius: 50%;
}
